body{
    margin: 0;
}
header{
    display: flex;
    background-color: black;
}
#menu{
    font-size: 24px;
    padding: 20px;
    color: white;
    display: block;
}
#menu:hover{
    color: gold;
    cursor: pointer;
}
a{
    text-decoration: none;
}
@media screen and (max-width: 800px) {
header #menu{
    margin: auto;
}
